<div class="wrap">
    <nav class="navbar">
        <input type="text" class="search" name="name" placeholder="Поиск..." [(ngModel)]="nameForSearch" (ngModelChange)="search()" />
        <div class="selected-books-counter" *ngIf="!!selectedBooks.length"> Книг выбранно: {{ selectedBooks.length }} </div>
    </nav>

    <div class="not-found" *ngIf="!books.length">
        <div class="not-found-content">
            <h3> Ничего не найдено... </h3>
        </div>
    </div>
    <div class="container h-100 d-flex align-items-center">
        <div class="form row row-cols-5">
            <div class="col-sm" *ngFor="let book of books | slice: (page - 1) * pageSize:page * pageSize; let i = index">
                <label for="checkbox{{ getIndexForCurrentPage(i) }}">
                    <div class="card" style="width: 170px">
                        <input class="checkbox" type="checkbox" id="checkbox{{ getIndexForCurrentPage(i) }}" [value]="book" (change)="getBook($event, book)" [checked]="isBookSelected(book)" />
                        <img src="{{ book.imgUrl ? book.imgUrl : '../../../assets/cover.jpg' }}" class="card-img-top" />
                        <div class="card-body">
                            <h5 class="card-title text-truncate d-block" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ book.name }}">
                                {{ book.name }}
                            </h5>
                            <p class="card-text text-truncate d-block">{{ book.author }}</p>
                            <hr />
                            <p class="card-text">Рейтинг: {{ book.rate }}</p>
                        </div>
                    </div>
                </label>
            </div>
        </div>
    </div>
    <button class="load-more" *ngIf="isLoadPossible && books.length >= pageSize" (click)="loadMore()">Загрузить ещё</button>
    <div class="footer">
        <div class="footer-container d-flex flex-column justify-content-center">
            <div class="footer-content d-flex flex-column align-items-center">
                <h4 class="d-block text-center"> Пожалуйста, выберите хотя бы 5 книг, которые вам понравились и нажмите кнопку далее </h4>
                <hr />
                <p *ngIf="authService.isAuth$" class="text-center"
                    >Посторайтесь выбрать те книги, которые вам действительно понравились, так как в дальнейшем они сделают ваши рекомендации более точными</p
                >
            </div>
            <div class="footer-action d-flex justify-content-center">
                <button [disabled]="selectedBooks.length >= 5 ? false : true" (click)="submit()">Далее</button>
            </div>
        </div>
    </div>
</div>
