<div class="wrap">
    <div class="container h-100 d-flex justify-content-center align-items-center">
        <div class="error-container d-flex flex-column align-items-center">
            <div class="error-header">
                <h2 class="text-center">404</h2>
            </div>
            <div class="error-text text-center"> Ошибка! Страница не найдена... </div>
            <div class="error-action">
                <button (click)="return()"> Вернуться </button>
            </div>
        </div>
    </div>
</div>
