<div class="wrap">
    <div class="container">
        <div class="table-actions d-flex justify-content-between">
            <input type="text" class="search" name="name" placeholder="Поиск..." [(ngModel)]="booksService.nameForSearch" (ngModelChange)="search()" />
            <button class="btn add" *ngIf="userService.isAdmin$ | async" (click)="addBook()">Добавить книгу</button>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col" (click)="sort('name')">Название</th>
                    <th scope="col" (click)="sort('author')">Авторы</th>
                    <th scope="col" (click)="sort('genres')">Жанр</th>
                    <th scope="col" (click)="sort('rate')">Рейтинг</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let book of booksService.books$ | async; let i = index">
                    <td>{{ book.name }}</td>
                    <td>{{ book.author }}</td>
                    <td>{{ book.genres }}</td>
                    <td>{{ book.rate }}</td>
                    <td>
                        <button class="icon-button" (click)="openModal(bookDescription, 'description', book)">
                            <mat-icon>visibility</mat-icon>
                        </button>
                        <button class="icon-button" *ngIf="userService.isAdmin$ | async" (click)="editBook(book)">
                            <mat-icon aria-hidden="false">edit</mat-icon>
                        </button>
                        <button class="icon-button" *ngIf="userService.isAdmin$ | async" (click)="openModal(deleteBook, 'delete', book)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <ngb-pagination
                [collectionSize]="this.booksService.collectionSize"
                [pageSize]="this.booksService.pageSize"
                [(page)]="this.booksService.page"
                [boundaryLinks]="true"
                (pageChange)="loadBooks()"
            ></ngb-pagination>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
<ng-template #bookDescription let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ booksService.selectedBook.name }}</h4>
        <button type="button" class="icon-button" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body d-flex justify-content-between">
        <div class="modal-fields">
            <h5>Автор</h5>
            <div class="modal-field">{{ booksService.selectedBook.author }}</div>
            <h5>Жанр</h5>
            <div class="modal-field">{{ booksService.selectedBook.genres }}</div>
            <h5 *ngIf="!!booksService.selectedBook.year">Год</h5>
            <div class="modal-field" *ngIf="!!booksService.selectedBook.year">{{ booksService.selectedBook.year }}</div>
            <h5>Описание</h5>
            <div class="modal-field">{{ booksService.selectedBook.description }}</div>
            <h5>Рейтинг</h5>
            <div class="modal-field">{{ booksService.selectedBook.rate }}</div>
        </div>
        <div class="book-cover" [style.backgroundImage]="coverUrl"> </div>
    </div>
    <div class="modal-footer">
        <button class="button-reset button-small" type="button" (click)="modal.close('Close click')">Закрыть</button>
    </div>
</ng-template>
<ng-template #deleteBook let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Удаление</h4>
        <button type="button" class="icon-button" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body d-flex justify-content-between">
        <div class="modal-fields"> Вы действительно хотите удалить? </div>
    </div>
    <div class="modal-footer">
        <button class="button-small" type="button" (click)="modal.close(deleteSelectedBook())">Удалить</button>
        <button class="button-reset button-small" type="button" (click)="modal.close('Close click')">Закрыть</button>
    </div>
</ng-template>
